*{
    padding:0;
    margin:0
}

html{
    width: 960px;
    margin: auto;
    border-left: 10px double gold;
    border-right: 10px double gold;
}

body{
    background-color:#fff8dc;
    height:100vh;
    margin-top:0
}

body>div{
    height:100vh;padding:0 50px
}

h1{
    font-size:50px;
    font-weight:bolder;
    text-align: center;
}

.right{
    margin:0 0 15px 15px;
    border:3px solid #ff0
}

body>div>*,body>div>div>*{
    margin-bottom:15px
}

.bio{
    padding:25px;
    margin:15px 15px 0 0;
    float: left;
    width: 400px;
    border: 3px solid yellow;
    background-color: lightslategray;
}

.left{
    float:left;
    margin-right:10px
}

ul{
    padding:15px
}

hr{
    border-color:#ff0;
    margin-bottom:30px
}

.content{
    background-color: goldenrod;
}

.right{
    float: right;
    height: 300px;
}

p{
    text-align: justify;
}
a:hover{
    color: red;
}

a{
    color: yellow;
}